# Configuración de InfluxDB (Credenciales de Acceso)
# Reemplaza estos valores con tus propios datos reales en un archivo .env
INFLUXDB_ADMIN_USER=tu_usuario_aqui
INFLUXDB_ADMIN_PASSWORD=tu_password_aqui
INFLUXDB_ORG=tu_organizacion_aqui
INFLUXDB_BUCKET=tu_bucket_aqui
INFLUXDB_TOKEN=tu_token_super_secreto_aqui
