# Configuración de InfluxDB (Credenciales de Acceso)
# Reemplaza estos valores con tus propios datos reales en un archivo .env
INFLUXDB_ADMIN_USER=tu_usuario_aqui
INFLUXDB_ADMIN_PASSWORD=tu_password_aqui
INFLUXDB_ORG=tu_organizacion_aqui
INFLUXDB_BUCKET=tu_bucket_aqui
INFLUXDB_TOKEN=tu_token_super_secreto_aqui

# Puertos expuestos en el Host
FRONTEND_PORT=3000
SIMULADOR_PORT=5000
INFERENCIA_PORT=5001
CONTROLADOR_PORT=5002
DATABASE_PORT=8086

# Dirección externa para que el Navegador Web (Frontend) acceda al backend del Simulador
VITE_API_BASE=http://localhost:5000


